To gather data we'll be using Selenium

In [42]:
from selenium import webdriver
import time
import pandas as pd
import sqlite3

url:

Query = 'Data Scientist'

Location = 'Wayne PA United States'

Experience = 'Entry Level'

In [2]:
url = 'https://www.linkedin.com/jobs/search/?keywords=Data%20Scientist&location=Wayne%2C%20Pennsylvania%2C%20United%20States&locationId=&geoId=102554230&f_TPR=&distance=25&f_E=2&position=1&pageNum=0'

Setting up our web driver

In [4]:
wd = webdriver.Chrome(executable_path='chromedriver.exe')

In [20]:
wd.get(url)

Determines # of jobs that we'll use in calculating how much to scroll/click to show all jobs

In [21]:
no_of_jobs = wd.find_element_by_css_selector('h1>span').get_attribute('innerText')

In [22]:
if '+' in no_of_jobs: #greater than 1000s
    no_of_jobs = wd.find_element_by_css_selector('h1>span').get_attribute('innerText')[:-1].replace(',','')

no_of_jobs = int(no_of_jobs)
no_of_jobs

64

We then try to open as many jobs as possible, trying both to scroll and click 'See More Jobs'

In [23]:
i = 2
while i <= int(no_of_jobs/25)+1: 
    wd.execute_script('window.scrollTo(0, document.body.scrollHeight);')
    i = i + 1
    try:
        wd.find_element_by_xpath('//*[@id="main-content"]/section[2]/button').click()
        time.sleep(5)
    except:
        pass
        time.sleep(5)

In [24]:
job_lists = wd.find_element_by_class_name('jobs-search__results-list')
jobs = job_lists.find_elements_by_tag_name('li')

In [25]:
len(jobs)

64

In [26]:
job_titles = []
job_employers = []
job_locations = []
job_links = []

for job in jobs:
    #to not spam website
    #time.sleep(1)
    
    #to click on jobs in left result bar
    job.find_element_by_class_name('base-card__full-link').click()
    
    curr_job_title = wd.find_element_by_css_selector('div>a>h2').get_attribute('innerText')
    job_titles.append(curr_job_title)
    
    curr_job_employer = wd.find_element_by_css_selector('div>span>a').get_attribute('innerText')
    job_employers.append(curr_job_employer)
    
    curr_job_location = wd.find_element_by_css_selector('h4>div>span:nth-child(2)').get_attribute('innerText')
    job_locations.append(curr_job_location)
    
    curr_job_link = wd.find_element_by_css_selector('div>div>a').get_attribute('href')
    job_links.append(curr_job_link)

Clean linebreaks off

In [34]:
job_employers = [employer.strip('\n').strip() for employer in job_employers]
job_locations = [location.strip('\n').strip() for location in job_locations]

In [35]:
job_data = pd.DataFrame({'Company': job_employers,
                        'Title': job_titles,
                        'Location': job_locations,
                        'Link': job_links})

In [36]:
job_data.head()

,Company,Title,Location,Link
0,Robert Half,Data Scientist,"Wyomissing, PA",https://www.linkedin.com/jobs/view/data-scient...
1,Robert Half,Data Scientist,"Wyomissing, PA",https://www.linkedin.com/jobs/view/data-scient...
2,EVERSANA,Data Scientist,"Wayne, PA",https://www.linkedin.com/jobs/view/data-scient...
3,EVERSANA,Data Scientist,"Wayne, PA",https://www.linkedin.com/jobs/view/data-scient...
4,EVERSANA,Data Scientist,"Wayne, PA",https://www.linkedin.com/jobs/view/software-en...

In [38]:
job_data.size

256

In [45]:
job_data.to_sql('jobs', sqlite3.connect('jobs.db'))